<div>
         Es gibt die folgenden VideLibri-Downloads auf der 
         <a href="http://sourceforge.net/projects/videlibri/files/VideLibri/VideLibri%201.850/">SourceForge-Downloadseite</a>:
         <br><br>
         <table class="downloadTable">
         <tr><th>Betriebsystem</th><th>Dateiname</th><th>Dateigröße</th></tr>
         <tr><td>Windows: </td><td>
           <a href="https://sourceforge.net/projects/videlibri/files/VideLibri/VideLibri%201.850/videlibri-setup.exe/download">videlibri-setup.exe</a></td><td>2.4 MB</td></tr><tr><td>Debian/Ubuntu: 64 Bit</td><td>
           <a href="https://sourceforge.net/projects/videlibri/files/VideLibri/VideLibri%201.850/videlibri_1.850-1_amd64.deb/download">videlibri_1.850-1_amd64.deb</a></td><td>2.9 MB</td></tr><tr><td>Debian/Ubuntu: 32 Bit</td><td>
           <a href="https://sourceforge.net/projects/videlibri/files/VideLibri/VideLibri%201.850/videlibri_1.850-1_i386.deb/download">videlibri_1.850-1_i386.deb</a></td><td>2.7 MB</td></tr></table></div>
