











<!--START of /default/result/speedentry.jsp-->



<div id="speed_result_list_2">




  <div class="box">
    
      <div class="box-header navigation">
         <div class="pagination">
         
            <span class="selectedlink">&#171;</span>
<span class="selectedlink">1</span>
<a href="javascript:move(2,11)" onclick="return markedTitles(this);"> 2</a>
<a href="javascript:move(2,21)" onclick="return markedTitles(this);"> 3</a>
<a href="javascript:move(2,31)" onclick="return markedTitles(this);"> 4</a>
<a href="javascript:move(2,41)" onclick="return markedTitles(this);"> 5</a>
<a href="javascript:move(2,51)" onclick="return markedTitles(this);"> 6</a>
<a href="javascript:move(2,61)" onclick="return markedTitles(this);"> 7</a>
<a href="javascript:move(2,71)" onclick="return markedTitles(this);"> 8</a>
<a href="javascript:move(2,81)" onclick="return markedTitles(this);"> 9</a>
<a href="javascript:move(2,91)" onclick="return markedTitles(this);">&#187;</a>

          
          
         </div>
         <a name="2"></a>
         <h2>Treffer Stadtbibliothek Chemnitz (453)</h2>

      </div> <!-- END box-header -->
      <div class="cleaner"></div>
    
    
    
    
      <!-- dont display this if in availability request -->
      














<!--START of /default/result/singlehitlistaction.jsp-->









  
  












<!--START of /default/result/augmentMemorizeList.jsp-->








<!--END of /default/result/augmentMemorizeList.jsp-->




<div class="memorize floatcon">
  
  
  <div class="floatleft">
    Titel auswählen:<br/>
    <ul class="separated">
      <li><a href="javascript:changeSelection('refineHitList.do','selectall', 'div#speed_result_list_2',  '2', 'search');" id="resultSelectAll2" title="alle Titel auswählen">alle</a></li>
      <li><a href="javascript:changeSelection('refineHitList.do','deselectall', 'div#speed_result_list_2',  '2', 'search');" id="resultDeSelectAll2" title="keine Titel auswählen">keine</a></li>
    </ul>
  </div>
  
  
  
  <div class="floatleft">
    <label for="selectedMemorizeList2">
      Speichern in:
    </label>
    <br/>
    <input type="hidden" id="newName_2" name="newMemorizeListName" value=""></input>
      <select name="selectedMemorizeList" id="selectedMemorizeList2" class="2_addOption"><option value="2_-1" selected="selected">Temporäre Merkliste</option></select>
    <input type="submit" name="save_to_memorize_2" value="Speichern" class="dbutton" />
  </div>

   
  
  
    <div class="floatleft">
      <label for="selectedSorting2">
        Sortieren nach:
      </label>
      <br/>
      <select name="selectedSorting" id="selectedSorting2" style="width: 9em;"><option value="unsortiert">unsortiert</option>
        
          <option value="2_SORTING_1">Standardsortierung</option>
        
          <option value="2_SORTING_2">Verfasser</option>
        
          <option value="2_SORTING_3">Titel</option>
        
          <option value="2_SORTING_4">Erscheinungsjahr</option></select>
      <input type="submit" name="change_sorting_2" value="Sortieren" class="dbutton" />
    </div>
  
  <div class="floatright">
    <label for="selectedHitlistSize2">
      max. Trefferanzahl
    </label>
    <br/>
    <select name="selectedHitlistSize" id="selectedHitlistSize2" style="width: 4em;"><option value="2_5">5</option>
      <option value="2_10" selected="selected">10</option>
      <option value="2_25">25</option>
      <option value="2_50">50</option>
      <option value="2_100">100</option></select>
    
    <input type="submit" name="change_hitlistsize_2" value="Anzeigen" class="dbutton" />
  </div>
   
</div>

<!-- END memorize  -->







<!--END of /default/result/singlehitlistaction.jsp-->




    
    
    
      <table class="data" summary="Trefferanzeige für Stadtbibliothek Chemnitz">
      
      
        
      
      
      
         
      
        











<!--START of /sunrise/result/simplehit.jsp-->



<tr>
  
    <td>
      <input type="checkbox" name="isMarked" value="2_1" />
    </td>
  
  <td class="tdloanstatus">
    <a name="2_1"></a>  1.
  </td>
    
  <td class="results">
  
  <div id="pictures1" class="cover">
    







  
  
  
    
    
    
    
  
    
  <script type="text/javascript">
  <!--
  var isbn = "9783868511031";
  var ajaxUrl="/TouchPoint/default/result/amazoncover.jsp";
  var type="small";
  
  if (isbn.length > 0)
  {
    $.get(ajaxUrl, { isbn: isbn, asin: "", size: type}, 
    function(data)
    {
      var ref = data;
      ref = ref.replace(/\r\n/g,'');
      ref = ref.replace(/^\s+|\s+$/g, '');
      if (ref.length > 0)
      $("div#1").html('<img src="' + ref + '"></img><br>');
    });
  }
  //-->
  </script>

  <div id="1" />
  &nbsp;
  </div>
  



  </div>
  
  
  <div class="title">
  <a href="/TouchPoint/singleHit.do?methodToCall=showHit&amp;curPos=1&amp;identifier=2_SOLR_SERVER_1373153954">Kieferorthopädie</a>
  </div>
  
  
  
  
    Bückmann, Barbara
    
    
    .&nbsp;-&nbsp;2009
    
    
    <br />
  
  
  
  
    <strong class="c1">Regalstandort: </strong>
    
    O 453 Büc
    
    
  

  
  
  
      
  
  
    <br/>
    <div class="type">
      <img class="icn" src="default/images/mtyp/0.gif" alt="" width="16" height="16" />
      Buch
    </div>
  
      
  
  

  
  
      
      
      
      
      
        
        
        
      


      
      
      


  
  
     
       











<!--START of /sunrise/result/loanstatus.jsp-->



 


  
  
    
    
  
  
    
  
  
  
  
    
  
  
    
      
    
    <div id="loanstatus_2_1"></div>
    
    <script type="text/javascript">
    <!--
    $(document).ready(function() {
      var ajaxUrl="sunrise/result/loanstatus.jsp";
      var itemIdentifier = "497984";
      var hitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var loanstateDBId = "2";
      var hitlistPosition = "1";
      var duplicateHitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var itemType = "BestOf";
      var titleStatus = "on loan";
      var typeofHit = "TouchPointResult";
      var context = "";
      var currentUrl = ajaxUrl + "?loanstateDBId="+loanstateDBId+"&itemIdentifier="+itemIdentifier+"&hitlistIdentifier="+hitlistIdentifier+"&hitlistPosition="+hitlistPosition+"&duplicateHitlistIdentifier="+duplicateHitlistIdentifier+"&itemType="+itemType+"&titleStatus="+titleStatus+"&typeOfHit="+typeofHit+"&context="+context;
      if (itemIdentifier.length > 0)
      {
        //$.get("sunrise/result/loanstatus.jsp", {itemIdentifier: itemIdentifier, dbIdentifier : dbIdentifier , hitlistPosition : hitlistPosition, itemType : itemType }, 
        $.ajaxq("loanstatus",{
          type: "GET",
          url: currentUrl,
          cache: false,
          dataType: "text",
          success: function(data)
        {
          var ref = data;
          ref = ref.replace(/\r\n/g,'');
          ref = ref.replace(/\n/g,'');
          if (ref.length > 0)
            $("div#loanstatus_2_1").replaceWith(ref);
          return false;
        }
        });
      }
    });
    //-->
    </script>
  
  






<!--END of /sunrise/result/loanstatus.jsp-->




     
  


  </td>
</tr>



<!--END of /sunrise/result/simplehit.jsp-->




      
      
      
         
      
        











<!--START of /sunrise/result/simplehit.jsp-->



<tr>
  
    <td>
      <input type="checkbox" name="isMarked" value="2_2" />
    </td>
  
  <td class="tdloanstatus">
    <a name="2_2"></a>  2.
  </td>
    
  <td class="results">
  
  <div id="pictures2" class="cover">
    







  
  
  
    
  <script type="text/javascript">
  <!--
  var isbn = "";
  var ajaxUrl="";
  var type="";
  
  if (isbn.length > 0)
  {
    $.get(ajaxUrl, { isbn: isbn, asin: "", size: type}, 
    function(data)
    {
      var ref = data;
      ref = ref.replace(/\r\n/g,'');
      ref = ref.replace(/^\s+|\s+$/g, '');
      if (ref.length > 0)
      $("div#2").html('<img src="' + ref + '"></img><br>');
    });
  }
  //-->
  </script>

  <div id="2" />
  &nbsp;
  </div>
  



  </div>
  
  
  <div class="title">
  <a href="/TouchPoint/singleHit.do?methodToCall=showHit&amp;curPos=2&amp;identifier=2_SOLR_SERVER_1373153954">test spezial</a>
  </div>
  
  
  
  
  
  
  
    <strong class="c1">Regalstandort: </strong>
    
    B ZZ-Regal Test spez
    
    
  

  
  
  
      
  
  
    <br/>
    <div class="type">
      <img class="icn" src="default/images/buch01.gif" alt="" width="16" height="16" />
      Buch
    </div>
  
      
  
  

  
  
      
      
      
      


      
      
      


  
  
     
       











<!--START of /sunrise/result/loanstatus.jsp-->



 


  
  
    
    
  
  
    
  
  
  
  
    
  
  
    
      
    
    <div id="loanstatus_2_2"></div>
    
    <script type="text/javascript">
    <!--
    $(document).ready(function() {
      var ajaxUrl="sunrise/result/loanstatus.jsp";
      var itemIdentifier = "346219";
      var hitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var loanstateDBId = "2";
      var hitlistPosition = "2";
      var duplicateHitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var itemType = "BestOf";
      var titleStatus = "on loan";
      var typeofHit = "TouchPointResult";
      var context = "";
      var currentUrl = ajaxUrl + "?loanstateDBId="+loanstateDBId+"&itemIdentifier="+itemIdentifier+"&hitlistIdentifier="+hitlistIdentifier+"&hitlistPosition="+hitlistPosition+"&duplicateHitlistIdentifier="+duplicateHitlistIdentifier+"&itemType="+itemType+"&titleStatus="+titleStatus+"&typeOfHit="+typeofHit+"&context="+context;
      if (itemIdentifier.length > 0)
      {
        //$.get("sunrise/result/loanstatus.jsp", {itemIdentifier: itemIdentifier, dbIdentifier : dbIdentifier , hitlistPosition : hitlistPosition, itemType : itemType }, 
        $.ajaxq("loanstatus",{
          type: "GET",
          url: currentUrl,
          cache: false,
          dataType: "text",
          success: function(data)
        {
          var ref = data;
          ref = ref.replace(/\r\n/g,'');
          ref = ref.replace(/\n/g,'');
          if (ref.length > 0)
            $("div#loanstatus_2_2").replaceWith(ref);
          return false;
        }
        });
      }
    });
    //-->
    </script>
  
  






<!--END of /sunrise/result/loanstatus.jsp-->




     
  


  </td>
</tr>



<!--END of /sunrise/result/simplehit.jsp-->




      
      
      
         
      
        











<!--START of /sunrise/result/simplehit.jsp-->



<tr>
  
    <td>
      <input type="checkbox" name="isMarked" value="2_3" />
    </td>
  
  <td class="tdloanstatus">
    <a name="2_3"></a>  3.
  </td>
    
  <td class="results">
  
  <div id="pictures3" class="cover">
    







  
  
  
    
    
    
    
  
    
  <script type="text/javascript">
  <!--
  var isbn = "9783868511291";
  var ajaxUrl="/TouchPoint/default/result/amazoncover.jsp";
  var type="small";
  
  if (isbn.length > 0)
  {
    $.get(ajaxUrl, { isbn: isbn, asin: "", size: type}, 
    function(data)
    {
      var ref = data;
      ref = ref.replace(/\r\n/g,'');
      ref = ref.replace(/^\s+|\s+$/g, '');
      if (ref.length > 0)
      $("div#3").html('<img src="' + ref + '"></img><br>');
    });
  }
  //-->
  </script>

  <div id="3" />
  &nbsp;
  </div>
  



  </div>
  
  
  <div class="title">
  <a href="/TouchPoint/singleHit.do?methodToCall=showHit&amp;curPos=3&amp;identifier=2_SOLR_SERVER_1373153954">Medikamente im Test - Krebs</a>
  </div>
  
  
  
  
    Bopp, Annette
    
    
    .&nbsp;-&nbsp;2012
    
    
    <br />
  
  
  
  
    <strong class="c1">Regalstandort: </strong>
    
    O 310 Bop
    
    
  

  
  
  
      
  
  
    <br/>
    <div class="type">
      <img class="icn" src="default/images/mtyp/0.gif" alt="" width="16" height="16" />
      Buch
    </div>
  
      
  
  

  
  
      
      
      
      
      
        
        
        
      


      
      
      


  
  
     
       











<!--START of /sunrise/result/loanstatus.jsp-->



 


  
  
    
    
  
  
    
  
  
  
  
    
  
  
    
      
    
    <div id="loanstatus_2_3"></div>
    
    <script type="text/javascript">
    <!--
    $(document).ready(function() {
      var ajaxUrl="sunrise/result/loanstatus.jsp";
      var itemIdentifier = "613907";
      var hitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var loanstateDBId = "2";
      var hitlistPosition = "3";
      var duplicateHitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var itemType = "BestOf";
      var titleStatus = "on loan";
      var typeofHit = "TouchPointResult";
      var context = "";
      var currentUrl = ajaxUrl + "?loanstateDBId="+loanstateDBId+"&itemIdentifier="+itemIdentifier+"&hitlistIdentifier="+hitlistIdentifier+"&hitlistPosition="+hitlistPosition+"&duplicateHitlistIdentifier="+duplicateHitlistIdentifier+"&itemType="+itemType+"&titleStatus="+titleStatus+"&typeOfHit="+typeofHit+"&context="+context;
      if (itemIdentifier.length > 0)
      {
        //$.get("sunrise/result/loanstatus.jsp", {itemIdentifier: itemIdentifier, dbIdentifier : dbIdentifier , hitlistPosition : hitlistPosition, itemType : itemType }, 
        $.ajaxq("loanstatus",{
          type: "GET",
          url: currentUrl,
          cache: false,
          dataType: "text",
          success: function(data)
        {
          var ref = data;
          ref = ref.replace(/\r\n/g,'');
          ref = ref.replace(/\n/g,'');
          if (ref.length > 0)
            $("div#loanstatus_2_3").replaceWith(ref);
          return false;
        }
        });
      }
    });
    //-->
    </script>
  
  






<!--END of /sunrise/result/loanstatus.jsp-->




     
  


  </td>
</tr>



<!--END of /sunrise/result/simplehit.jsp-->




      
      
      
         
      
        











<!--START of /sunrise/result/simplehit.jsp-->



<tr>
  
    <td>
      <input type="checkbox" name="isMarked" value="2_4" />
    </td>
  
  <td class="tdloanstatus">
    <a name="2_4"></a>  4.
  </td>
    
  <td class="results">
  
  <div id="pictures4" class="cover">
    







  
  
  
    
    
    
    
  
    
  <script type="text/javascript">
  <!--
  var isbn = "9783868511512";
  var ajaxUrl="/TouchPoint/default/result/amazoncover.jsp";
  var type="small";
  
  if (isbn.length > 0)
  {
    $.get(ajaxUrl, { isbn: isbn, asin: "", size: type}, 
    function(data)
    {
      var ref = data;
      ref = ref.replace(/\r\n/g,'');
      ref = ref.replace(/^\s+|\s+$/g, '');
      if (ref.length > 0)
      $("div#4").html('<img src="' + ref + '"></img><br>');
    });
  }
  //-->
  </script>

  <div id="4" />
  &nbsp;
  </div>
  



  </div>
  
  
  <div class="title">
  <a href="/TouchPoint/singleHit.do?methodToCall=showHit&amp;curPos=4&amp;identifier=2_SOLR_SERVER_1373153954">Der kleine Hausarzt</a>
  </div>
  
  
  
  
    Nonhoff, Dirk
    
    
    .&nbsp;-&nbsp;2015
    
    
    <br />
  
  
  
  
    <strong class="c1">Regalstandort: </strong>
    
    O 003 Non
    
    
  

  
  
  
      
  
  
    <br/>
    <div class="type">
      <img class="icn" src="default/images/mtyp/0.gif" alt="" width="16" height="16" />
      Buch
    </div>
  
      
  
  

  
  
      
      
      
      
      
        
        
        
      


      
      
      


  
  
     
       











<!--START of /sunrise/result/loanstatus.jsp-->



 


  
  
    
    
  
  
    
  
  
  
  
    
  
  
    
      
    
    <div id="loanstatus_2_4"></div>
    
    <script type="text/javascript">
    <!--
    $(document).ready(function() {
      var ajaxUrl="sunrise/result/loanstatus.jsp";
      var itemIdentifier = "682664";
      var hitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var loanstateDBId = "2";
      var hitlistPosition = "4";
      var duplicateHitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var itemType = "BestOf";
      var titleStatus = "on loan";
      var typeofHit = "TouchPointResult";
      var context = "";
      var currentUrl = ajaxUrl + "?loanstateDBId="+loanstateDBId+"&itemIdentifier="+itemIdentifier+"&hitlistIdentifier="+hitlistIdentifier+"&hitlistPosition="+hitlistPosition+"&duplicateHitlistIdentifier="+duplicateHitlistIdentifier+"&itemType="+itemType+"&titleStatus="+titleStatus+"&typeOfHit="+typeofHit+"&context="+context;
      if (itemIdentifier.length > 0)
      {
        //$.get("sunrise/result/loanstatus.jsp", {itemIdentifier: itemIdentifier, dbIdentifier : dbIdentifier , hitlistPosition : hitlistPosition, itemType : itemType }, 
        $.ajaxq("loanstatus",{
          type: "GET",
          url: currentUrl,
          cache: false,
          dataType: "text",
          success: function(data)
        {
          var ref = data;
          ref = ref.replace(/\r\n/g,'');
          ref = ref.replace(/\n/g,'');
          if (ref.length > 0)
            $("div#loanstatus_2_4").replaceWith(ref);
          return false;
        }
        });
      }
    });
    //-->
    </script>
  
  






<!--END of /sunrise/result/loanstatus.jsp-->




     
  


  </td>
</tr>



<!--END of /sunrise/result/simplehit.jsp-->




      
      
      
         
      
        











<!--START of /sunrise/result/simplehit.jsp-->



<tr>
  
    <td>
      <input type="checkbox" name="isMarked" value="2_5" />
    </td>
  
  <td class="tdloanstatus">
    <a name="2_5"></a>  5.
  </td>
    
  <td class="results">
  
  <div id="pictures5" class="cover">
    







  
  
  
    
    
    
    
  
    
  <script type="text/javascript">
  <!--
  var isbn = "9783868510935";
  var ajaxUrl="/TouchPoint/default/result/amazoncover.jsp";
  var type="small";
  
  if (isbn.length > 0)
  {
    $.get(ajaxUrl, { isbn: isbn, asin: "", size: type}, 
    function(data)
    {
      var ref = data;
      ref = ref.replace(/\r\n/g,'');
      ref = ref.replace(/^\s+|\s+$/g, '');
      if (ref.length > 0)
      $("div#5").html('<img src="' + ref + '"></img><br>');
    });
  }
  //-->
  </script>

  <div id="5" />
  &nbsp;
  </div>
  



  </div>
  
  
  <div class="title">
  <a href="/TouchPoint/singleHit.do?methodToCall=showHit&amp;curPos=5&amp;identifier=2_SOLR_SERVER_1373153954">Mein Gartenjahr</a>
  </div>
  
  
  
  
    Thomas, Ceri
    
    
    .&nbsp;-&nbsp;2014
    
    
    <br />
  
  
  
  
    <strong class="c1">Regalstandort: </strong>
    
    W 221 Mei
    
    
  

  
  
  
      
  
  
    <br/>
    <div class="type">
      <img class="icn" src="default/images/mtyp/0.gif" alt="" width="16" height="16" />
      Buch
    </div>
  
      
  
  

  
  
      
      
      
      
      
        
        
        
      


      
      
      


  
  
     
       











<!--START of /sunrise/result/loanstatus.jsp-->



 


  
  
    
    
  
  
    
  
  
  
  
    
  
  
    
      
    
    <div id="loanstatus_2_5"></div>
    
    <script type="text/javascript">
    <!--
    $(document).ready(function() {
      var ajaxUrl="sunrise/result/loanstatus.jsp";
      var itemIdentifier = "646747";
      var hitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var loanstateDBId = "2";
      var hitlistPosition = "5";
      var duplicateHitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var itemType = "BestOf";
      var titleStatus = "on loan";
      var typeofHit = "TouchPointResult";
      var context = "";
      var currentUrl = ajaxUrl + "?loanstateDBId="+loanstateDBId+"&itemIdentifier="+itemIdentifier+"&hitlistIdentifier="+hitlistIdentifier+"&hitlistPosition="+hitlistPosition+"&duplicateHitlistIdentifier="+duplicateHitlistIdentifier+"&itemType="+itemType+"&titleStatus="+titleStatus+"&typeOfHit="+typeofHit+"&context="+context;
      if (itemIdentifier.length > 0)
      {
        //$.get("sunrise/result/loanstatus.jsp", {itemIdentifier: itemIdentifier, dbIdentifier : dbIdentifier , hitlistPosition : hitlistPosition, itemType : itemType }, 
        $.ajaxq("loanstatus",{
          type: "GET",
          url: currentUrl,
          cache: false,
          dataType: "text",
          success: function(data)
        {
          var ref = data;
          ref = ref.replace(/\r\n/g,'');
          ref = ref.replace(/\n/g,'');
          if (ref.length > 0)
            $("div#loanstatus_2_5").replaceWith(ref);
          return false;
        }
        });
      }
    });
    //-->
    </script>
  
  






<!--END of /sunrise/result/loanstatus.jsp-->




     
  


  </td>
</tr>



<!--END of /sunrise/result/simplehit.jsp-->




      
      
      
         
      
        











<!--START of /sunrise/result/simplehit.jsp-->



<tr>
  
    <td>
      <input type="checkbox" name="isMarked" value="2_6" />
    </td>
  
  <td class="tdloanstatus">
    <a name="2_6"></a>  6.
  </td>
    
  <td class="results">
  
  <div id="pictures6" class="cover">
    







  
  
  
    
    
    
    
  
    
  <script type="text/javascript">
  <!--
  var isbn = "9783868511284";
  var ajaxUrl="/TouchPoint/default/result/amazoncover.jsp";
  var type="small";
  
  if (isbn.length > 0)
  {
    $.get(ajaxUrl, { isbn: isbn, asin: "", size: type}, 
    function(data)
    {
      var ref = data;
      ref = ref.replace(/\r\n/g,'');
      ref = ref.replace(/^\s+|\s+$/g, '');
      if (ref.length > 0)
      $("div#6").html('<img src="' + ref + '"></img><br>');
    });
  }
  //-->
  </script>

  <div id="6" />
  &nbsp;
  </div>
  



  </div>
  
  
  <div class="title">
  <a href="/TouchPoint/singleHit.do?methodToCall=showHit&amp;curPos=6&amp;identifier=2_SOLR_SERVER_1373153954">Asthma</a>
  </div>
  
  
  
  
    Friedl, Angelika
    
    
    .&nbsp;-&nbsp;2012
    
    
    <br />
  
  
  
  
    <strong class="c1">Regalstandort: </strong>
    
    O 410 Fri
    
    
  

  
  
  
      
  
  
    <br/>
    <div class="type">
      <img class="icn" src="default/images/mtyp/0.gif" alt="" width="16" height="16" />
      Buch
    </div>
  
      
  
  

  
  
      
      
      
      
      
        
        
        
      


      
      
      


  
  
     
       











<!--START of /sunrise/result/loanstatus.jsp-->



 


  
  
    
    
  
  
    
  
  
  
  
    
  
  
    
      
    
    <div id="loanstatus_2_6"></div>
    
    <script type="text/javascript">
    <!--
    $(document).ready(function() {
      var ajaxUrl="sunrise/result/loanstatus.jsp";
      var itemIdentifier = "613927";
      var hitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var loanstateDBId = "2";
      var hitlistPosition = "6";
      var duplicateHitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var itemType = "BestOf";
      var titleStatus = "on loan";
      var typeofHit = "TouchPointResult";
      var context = "";
      var currentUrl = ajaxUrl + "?loanstateDBId="+loanstateDBId+"&itemIdentifier="+itemIdentifier+"&hitlistIdentifier="+hitlistIdentifier+"&hitlistPosition="+hitlistPosition+"&duplicateHitlistIdentifier="+duplicateHitlistIdentifier+"&itemType="+itemType+"&titleStatus="+titleStatus+"&typeOfHit="+typeofHit+"&context="+context;
      if (itemIdentifier.length > 0)
      {
        //$.get("sunrise/result/loanstatus.jsp", {itemIdentifier: itemIdentifier, dbIdentifier : dbIdentifier , hitlistPosition : hitlistPosition, itemType : itemType }, 
        $.ajaxq("loanstatus",{
          type: "GET",
          url: currentUrl,
          cache: false,
          dataType: "text",
          success: function(data)
        {
          var ref = data;
          ref = ref.replace(/\r\n/g,'');
          ref = ref.replace(/\n/g,'');
          if (ref.length > 0)
            $("div#loanstatus_2_6").replaceWith(ref);
          return false;
        }
        });
      }
    });
    //-->
    </script>
  
  






<!--END of /sunrise/result/loanstatus.jsp-->




     
  


  </td>
</tr>



<!--END of /sunrise/result/simplehit.jsp-->




      
      
      
         
      
        











<!--START of /sunrise/result/simplehit.jsp-->



<tr>
  
    <td>
      <input type="checkbox" name="isMarked" value="2_7" />
    </td>
  
  <td class="tdloanstatus">
    <a name="2_7"></a>  7.
  </td>
    
  <td class="results">
  
  <div id="pictures7" class="cover">
    







  
  
  
    
    
    
    
  
    
  <script type="text/javascript">
  <!--
  var isbn = "9783868510300";
  var ajaxUrl="/TouchPoint/default/result/amazoncover.jsp";
  var type="small";
  
  if (isbn.length > 0)
  {
    $.get(ajaxUrl, { isbn: isbn, asin: "", size: type}, 
    function(data)
    {
      var ref = data;
      ref = ref.replace(/\r\n/g,'');
      ref = ref.replace(/^\s+|\s+$/g, '');
      if (ref.length > 0)
      $("div#7").html('<img src="' + ref + '"></img><br>');
    });
  }
  //-->
  </script>

  <div id="7" />
  &nbsp;
  </div>
  



  </div>
  
  
  <div class="title">
  <a href="/TouchPoint/singleHit.do?methodToCall=showHit&amp;curPos=7&amp;identifier=2_SOLR_SERVER_1373153954">Sehr schnell kochen</a>
  </div>
  
  
  
  
    Elster, Lena
    
    
    .&nbsp;-&nbsp;2011
    
    
    <br />
  
  
  
  
    <strong class="c1">Regalstandort: </strong>
    
    X 219 Seh
    
    
  

  
  
  
      
  
  
    <br/>
    <div class="type">
      <img class="icn" src="default/images/mtyp/0.gif" alt="" width="16" height="16" />
      Buch
    </div>
  
      
  
  

  
  
      
      
      
      
      
        
        
        
      


      
      
      


  
  
     
       











<!--START of /sunrise/result/loanstatus.jsp-->



 


  
  
    
    
  
  
    
  
  
  
  
    
  
  
    
      
    
    <div id="loanstatus_2_7"></div>
    
    <script type="text/javascript">
    <!--
    $(document).ready(function() {
      var ajaxUrl="sunrise/result/loanstatus.jsp";
      var itemIdentifier = "569946";
      var hitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var loanstateDBId = "2";
      var hitlistPosition = "7";
      var duplicateHitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var itemType = "BestOf";
      var titleStatus = "on loan";
      var typeofHit = "TouchPointResult";
      var context = "";
      var currentUrl = ajaxUrl + "?loanstateDBId="+loanstateDBId+"&itemIdentifier="+itemIdentifier+"&hitlistIdentifier="+hitlistIdentifier+"&hitlistPosition="+hitlistPosition+"&duplicateHitlistIdentifier="+duplicateHitlistIdentifier+"&itemType="+itemType+"&titleStatus="+titleStatus+"&typeOfHit="+typeofHit+"&context="+context;
      if (itemIdentifier.length > 0)
      {
        //$.get("sunrise/result/loanstatus.jsp", {itemIdentifier: itemIdentifier, dbIdentifier : dbIdentifier , hitlistPosition : hitlistPosition, itemType : itemType }, 
        $.ajaxq("loanstatus",{
          type: "GET",
          url: currentUrl,
          cache: false,
          dataType: "text",
          success: function(data)
        {
          var ref = data;
          ref = ref.replace(/\r\n/g,'');
          ref = ref.replace(/\n/g,'');
          if (ref.length > 0)
            $("div#loanstatus_2_7").replaceWith(ref);
          return false;
        }
        });
      }
    });
    //-->
    </script>
  
  






<!--END of /sunrise/result/loanstatus.jsp-->




     
  


  </td>
</tr>



<!--END of /sunrise/result/simplehit.jsp-->




      
      
      
         
      
        











<!--START of /sunrise/result/simplehit.jsp-->



<tr>
  
    <td>
      <input type="checkbox" name="isMarked" value="2_8" />
    </td>
  
  <td class="tdloanstatus">
    <a name="2_8"></a>  8.
  </td>
    
  <td class="results">
  
  <div id="pictures8" class="cover">
    







  
  
  
    
    
    
    
  
    
  <script type="text/javascript">
  <!--
  var isbn = "9783868511147";
  var ajaxUrl="/TouchPoint/default/result/amazoncover.jsp";
  var type="small";
  
  if (isbn.length > 0)
  {
    $.get(ajaxUrl, { isbn: isbn, asin: "", size: type}, 
    function(data)
    {
      var ref = data;
      ref = ref.replace(/\r\n/g,'');
      ref = ref.replace(/^\s+|\s+$/g, '');
      if (ref.length > 0)
      $("div#8").html('<img src="' + ref + '"></img><br>');
    });
  }
  //-->
  </script>

  <div id="8" />
  &nbsp;
  </div>
  



  </div>
  
  
  <div class="title">
  <a href="/TouchPoint/singleHit.do?methodToCall=showHit&amp;curPos=8&amp;identifier=2_SOLR_SERVER_1373153954">Ängste überwinden</a>
  </div>
  
  
  
  
    Niklewski, Günter
    
    
    .&nbsp;-&nbsp;2010
    
    
    <br />
  
  
  
  
    <strong class="c1">Regalstandort: </strong>
    
    O 461 Angst Nik
    
    
  

  
  
  
      
  
  
    <br/>
    <div class="type">
      <img class="icn" src="default/images/mtyp/0.gif" alt="" width="16" height="16" />
      Buch
    </div>
  
      
  
  

  
  
      
      
      
      


      
      
      


  
  
     
       











<!--START of /sunrise/result/loanstatus.jsp-->



 


  
  
    
    
  
  
    
  
  
  
  
    
  
  
    
      
    
    <div id="loanstatus_2_8"></div>
    
    <script type="text/javascript">
    <!--
    $(document).ready(function() {
      var ajaxUrl="sunrise/result/loanstatus.jsp";
      var itemIdentifier = "600514";
      var hitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var loanstateDBId = "2";
      var hitlistPosition = "8";
      var duplicateHitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var itemType = "BestOf";
      var titleStatus = "on loan";
      var typeofHit = "TouchPointResult";
      var context = "";
      var currentUrl = ajaxUrl + "?loanstateDBId="+loanstateDBId+"&itemIdentifier="+itemIdentifier+"&hitlistIdentifier="+hitlistIdentifier+"&hitlistPosition="+hitlistPosition+"&duplicateHitlistIdentifier="+duplicateHitlistIdentifier+"&itemType="+itemType+"&titleStatus="+titleStatus+"&typeOfHit="+typeofHit+"&context="+context;
      if (itemIdentifier.length > 0)
      {
        //$.get("sunrise/result/loanstatus.jsp", {itemIdentifier: itemIdentifier, dbIdentifier : dbIdentifier , hitlistPosition : hitlistPosition, itemType : itemType }, 
        $.ajaxq("loanstatus",{
          type: "GET",
          url: currentUrl,
          cache: false,
          dataType: "text",
          success: function(data)
        {
          var ref = data;
          ref = ref.replace(/\r\n/g,'');
          ref = ref.replace(/\n/g,'');
          if (ref.length > 0)
            $("div#loanstatus_2_8").replaceWith(ref);
          return false;
        }
        });
      }
    });
    //-->
    </script>
  
  






<!--END of /sunrise/result/loanstatus.jsp-->




     
  


  </td>
</tr>



<!--END of /sunrise/result/simplehit.jsp-->




      
      
      
         
      
        











<!--START of /sunrise/result/simplehit.jsp-->



<tr>
  
    <td>
      <input type="checkbox" name="isMarked" value="2_9" />
    </td>
  
  <td class="tdloanstatus">
    <a name="2_9"></a>  9.
  </td>
    
  <td class="results">
  
  <div id="pictures9" class="cover">
    







  
  
  
    
    
    
    
  
    
  <script type="text/javascript">
  <!--
  var isbn = "9783868510126";
  var ajaxUrl="/TouchPoint/default/result/amazoncover.jsp";
  var type="small";
  
  if (isbn.length > 0)
  {
    $.get(ajaxUrl, { isbn: isbn, asin: "", size: type}, 
    function(data)
    {
      var ref = data;
      ref = ref.replace(/\r\n/g,'');
      ref = ref.replace(/^\s+|\s+$/g, '');
      if (ref.length > 0)
      $("div#9").html('<img src="' + ref + '"></img><br>');
    });
  }
  //-->
  </script>

  <div id="9" />
  &nbsp;
  </div>
  



  </div>
  
  
  <div class="title">
  <a href="/TouchPoint/singleHit.do?methodToCall=showHit&amp;curPos=9&amp;identifier=2_SOLR_SERVER_1373153954">Reparaturen zu Hause</a>
  </div>
  
  
  
  
    Birkholz, Peter
    
    
    .&nbsp;-&nbsp;2010
    
    
    <br />
  
  
  
  
    <strong class="c1">Regalstandort: </strong>
    
    X 113 Rep
    
    
  

  
  
  
      
  
  
    <br/>
    <div class="type">
      <img class="icn" src="default/images/mtyp/0.gif" alt="" width="16" height="16" />
      Buch
    </div>
  
      
  
  

  
  
      
      
      
      


      
      
      


  
  
     
       











<!--START of /sunrise/result/loanstatus.jsp-->



 


  
  
    
    
  
  
    
  
  
  
  
    
  
  
    
      
    
    <div id="loanstatus_2_9"></div>
    
    <script type="text/javascript">
    <!--
    $(document).ready(function() {
      var ajaxUrl="sunrise/result/loanstatus.jsp";
      var itemIdentifier = "531492";
      var hitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var loanstateDBId = "2";
      var hitlistPosition = "9";
      var duplicateHitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var itemType = "BestOf";
      var titleStatus = "on loan";
      var typeofHit = "TouchPointResult";
      var context = "";
      var currentUrl = ajaxUrl + "?loanstateDBId="+loanstateDBId+"&itemIdentifier="+itemIdentifier+"&hitlistIdentifier="+hitlistIdentifier+"&hitlistPosition="+hitlistPosition+"&duplicateHitlistIdentifier="+duplicateHitlistIdentifier+"&itemType="+itemType+"&titleStatus="+titleStatus+"&typeOfHit="+typeofHit+"&context="+context;
      if (itemIdentifier.length > 0)
      {
        //$.get("sunrise/result/loanstatus.jsp", {itemIdentifier: itemIdentifier, dbIdentifier : dbIdentifier , hitlistPosition : hitlistPosition, itemType : itemType }, 
        $.ajaxq("loanstatus",{
          type: "GET",
          url: currentUrl,
          cache: false,
          dataType: "text",
          success: function(data)
        {
          var ref = data;
          ref = ref.replace(/\r\n/g,'');
          ref = ref.replace(/\n/g,'');
          if (ref.length > 0)
            $("div#loanstatus_2_9").replaceWith(ref);
          return false;
        }
        });
      }
    });
    //-->
    </script>
  
  






<!--END of /sunrise/result/loanstatus.jsp-->




     
  


  </td>
</tr>



<!--END of /sunrise/result/simplehit.jsp-->




      
      
      
         
      
        











<!--START of /sunrise/result/simplehit.jsp-->



<tr>
  
    <td>
      <input type="checkbox" name="isMarked" value="2_10" />
    </td>
  
  <td class="tdloanstatus">
    <a name="2_10"></a>  10.
  </td>
    
  <td class="results">
  
  <div id="pictures10" class="cover">
    







  
  
  
    
    
    
    
  
    
  <script type="text/javascript">
  <!--
  var isbn = "9783868510058";
  var ajaxUrl="/TouchPoint/default/result/amazoncover.jsp";
  var type="small";
  
  if (isbn.length > 0)
  {
    $.get(ajaxUrl, { isbn: isbn, asin: "", size: type}, 
    function(data)
    {
      var ref = data;
      ref = ref.replace(/\r\n/g,'');
      ref = ref.replace(/^\s+|\s+$/g, '');
      if (ref.length > 0)
      $("div#10").html('<img src="' + ref + '"></img><br>');
    });
  }
  //-->
  </script>

  <div id="10" />
  &nbsp;
  </div>
  



  </div>
  
  
  <div class="title">
  <a href="/TouchPoint/singleHit.do?methodToCall=showHit&amp;curPos=10&amp;identifier=2_SOLR_SERVER_1373153954">Das Energiesparbuch</a>
  </div>
  
  
  
  
    Götze, Monika
    
    
    .&nbsp;-&nbsp;2009
    
    
    <br />
  
  
  
  
    <strong class="c1">Regalstandort: </strong>
    
    T 800 Göt
    
    
  

  
  
  
      
  
  
    <br/>
    <div class="type">
      <img class="icn" src="default/images/mtyp/0.gif" alt="" width="16" height="16" />
      Buch
    </div>
  
      
  
  

  
  
      
      
      
      
      
        
        
        
      


      
      
      


  
  
     
       











<!--START of /sunrise/result/loanstatus.jsp-->



 


  
  
    
    
  
  
    
  
  
  
  
    
  
  
    
      
    
    <div id="loanstatus_2_10"></div>
    
    <script type="text/javascript">
    <!--
    $(document).ready(function() {
      var ajaxUrl="sunrise/result/loanstatus.jsp";
      var itemIdentifier = "510020";
      var hitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var loanstateDBId = "2";
      var hitlistPosition = "10";
      var duplicateHitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var itemType = "BestOf";
      var titleStatus = "on loan";
      var typeofHit = "TouchPointResult";
      var context = "";
      var currentUrl = ajaxUrl + "?loanstateDBId="+loanstateDBId+"&itemIdentifier="+itemIdentifier+"&hitlistIdentifier="+hitlistIdentifier+"&hitlistPosition="+hitlistPosition+"&duplicateHitlistIdentifier="+duplicateHitlistIdentifier+"&itemType="+itemType+"&titleStatus="+titleStatus+"&typeOfHit="+typeofHit+"&context="+context;
      if (itemIdentifier.length > 0)
      {
        //$.get("sunrise/result/loanstatus.jsp", {itemIdentifier: itemIdentifier, dbIdentifier : dbIdentifier , hitlistPosition : hitlistPosition, itemType : itemType }, 
        $.ajaxq("loanstatus",{
          type: "GET",
          url: currentUrl,
          cache: false,
          dataType: "text",
          success: function(data)
        {
          var ref = data;
          ref = ref.replace(/\r\n/g,'');
          ref = ref.replace(/\n/g,'');
          if (ref.length > 0)
            $("div#loanstatus_2_10").replaceWith(ref);
          return false;
        }
        });
      }
    });
    //-->
    </script>
  
  






<!--END of /sunrise/result/loanstatus.jsp-->




     
  


  </td>
</tr>



<!--END of /sunrise/result/simplehit.jsp-->




      
      
      
      
    </table>
    
      <div class="box-header">
        <div class="pagination">
            
              <span class="selectedlink">&#171;</span>
<span class="selectedlink">1</span>
<a href="javascript:move(2,11)" onclick="return markedTitles(this);"> 2</a>
<a href="javascript:move(2,21)" onclick="return markedTitles(this);"> 3</a>
<a href="javascript:move(2,31)" onclick="return markedTitles(this);"> 4</a>
<a href="javascript:move(2,41)" onclick="return markedTitles(this);"> 5</a>
<a href="javascript:move(2,51)" onclick="return markedTitles(this);"> 6</a>
<a href="javascript:move(2,61)" onclick="return markedTitles(this);"> 7</a>
<a href="javascript:move(2,71)" onclick="return markedTitles(this);"> 8</a>
<a href="javascript:move(2,81)" onclick="return markedTitles(this);"> 9</a>
<a href="javascript:move(2,91)" onclick="return markedTitles(this);">&#187;</a>

            
            
          </div>
      </div><!-- END box-header -->
    
  </div><!-- END div box -->
  <br/>
</body>

</div>

<script type="text/javascript">
  enableAjaxMenuFunctions("2");
</script>




<!--END of /default/result/speedentry.jsp-->



