











<!--START of /default/result/speedentry.jsp-->



<div id="speed_result_list_2">




  <div class="box">
    
      <div class="box-header navigation">
         <div class="pagination">
         
            <span class="selectedlink">&#171;</span>
<a href="javascript:move(2,1)" onclick="return markedTitles(this);"> 1</a>
<span class="selectedlink">2</span>
<a href="javascript:move(2,21)" onclick="return markedTitles(this);"> 3</a>
<a href="javascript:move(2,31)" onclick="return markedTitles(this);"> 4</a>
<a href="javascript:move(2,41)" onclick="return markedTitles(this);"> 5</a>
<a href="javascript:move(2,51)" onclick="return markedTitles(this);"> 6</a>
<a href="javascript:move(2,61)" onclick="return markedTitles(this);"> 7</a>
<a href="javascript:move(2,71)" onclick="return markedTitles(this);"> 8</a>
<a href="javascript:move(2,81)" onclick="return markedTitles(this);"> 9</a>
<a href="javascript:move(2,91)" onclick="return markedTitles(this);">&#187;</a>

          
          
         </div>
         <a name="2"></a>
         <h2>Treffer Stadtbibliothek Chemnitz (453)</h2>

      </div> <!-- END box-header -->
      <div class="cleaner"></div>
    
    
    
    
      <!-- dont display this if in availability request -->
      














<!--START of /default/result/singlehitlistaction.jsp-->









  
  












<!--START of /default/result/augmentMemorizeList.jsp-->








<!--END of /default/result/augmentMemorizeList.jsp-->




<div class="memorize floatcon">
  
  
  <div class="floatleft">
    Titel auswählen:<br/>
    <ul class="separated">
      <li><a href="javascript:changeSelection('refineHitList.do','selectall', 'div#speed_result_list_2',  '2', 'search');" id="resultSelectAll2" title="alle Titel auswählen">alle</a></li>
      <li><a href="javascript:changeSelection('refineHitList.do','deselectall', 'div#speed_result_list_2',  '2', 'search');" id="resultDeSelectAll2" title="keine Titel auswählen">keine</a></li>
    </ul>
  </div>
  
  
  
  <div class="floatleft">
    <label for="selectedMemorizeList2">
      Speichern in:
    </label>
    <br/>
    <input type="hidden" id="newName_2" name="newMemorizeListName" value=""></input>
      <select name="selectedMemorizeList" id="selectedMemorizeList2" class="2_addOption"><option value="2_-1" selected="selected">Temporäre Merkliste</option></select>
    <input type="submit" name="save_to_memorize_2" value="Speichern" class="dbutton" />
  </div>

   
  
  
    <div class="floatleft">
      <label for="selectedSorting2">
        Sortieren nach:
      </label>
      <br/>
      <select name="selectedSorting" id="selectedSorting2" style="width: 9em;"><option value="unsortiert">unsortiert</option>
        
          <option value="2_SORTING_1">Standardsortierung</option>
        
          <option value="2_SORTING_2">Verfasser</option>
        
          <option value="2_SORTING_3">Titel</option>
        
          <option value="2_SORTING_4">Erscheinungsjahr</option></select>
      <input type="submit" name="change_sorting_2" value="Sortieren" class="dbutton" />
    </div>
  
  <div class="floatright">
    <label for="selectedHitlistSize2">
      max. Trefferanzahl
    </label>
    <br/>
    <select name="selectedHitlistSize" id="selectedHitlistSize2" style="width: 4em;"><option value="2_5">5</option>
      <option value="2_10" selected="selected">10</option>
      <option value="2_25">25</option>
      <option value="2_50">50</option>
      <option value="2_100">100</option></select>
    
    <input type="submit" name="change_hitlistsize_2" value="Anzeigen" class="dbutton" />
  </div>
   
</div>

<!-- END memorize  -->







<!--END of /default/result/singlehitlistaction.jsp-->




    
    
    
      <table class="data" summary="Trefferanzeige für Stadtbibliothek Chemnitz">
      
      
        
      
      
      
         
      
        











<!--START of /sunrise/result/simplehit.jsp-->



<tr>
  
    <td>
      <input type="checkbox" name="isMarked" value="2_11" />
    </td>
  
  <td class="tdloanstatus">
    <a name="2_11"></a>  11.
  </td>
    
  <td class="results">
  
  <div id="pictures11" class="cover">
    







  
  
  
    
    
    
    
  
    
  <script type="text/javascript">
  <!--
  var isbn = "9783868511062";
  var ajaxUrl="/TouchPoint/default/result/amazoncover.jsp";
  var type="small";
  
  if (isbn.length > 0)
  {
    $.get(ajaxUrl, { isbn: isbn, asin: "", size: type}, 
    function(data)
    {
      var ref = data;
      ref = ref.replace(/\r\n/g,'');
      ref = ref.replace(/^\s+|\s+$/g, '');
      if (ref.length > 0)
      $("div#11").html('<img src="' + ref + '"></img><br>');
    });
  }
  //-->
  </script>

  <div id="11" />
  &nbsp;
  </div>
  



  </div>
  
  
  <div class="title">
  <a href="/TouchPoint/singleHit.do?methodToCall=showHit&amp;curPos=11&amp;identifier=2_SOLR_SERVER_1373153954">Endlich schlafen</a>
  </div>
  
  
  
  
    Füller, Ingrid
    
    
    .&nbsp;-&nbsp;2009
    
    
    <br />
  
  
  
  
    <strong class="c1">Regalstandort: </strong>
    
    O 619 Fül
    
    
  

  
  
  
      
  
  
    <br/>
    <div class="type">
      <img class="icn" src="default/images/mtyp/0.gif" alt="" width="16" height="16" />
      Buch
    </div>
  
      
  
  

  
  
      
      
      
      
      
        
        
        
      


      
      
      


  
  
     
       











<!--START of /sunrise/result/loanstatus.jsp-->



 


  
  
    
    
  
  
    
  
  
  
  
    
  
  
    
      
    
    <div id="loanstatus_2_11"></div>
    
    <script type="text/javascript">
    <!--
    $(document).ready(function() {
      var ajaxUrl="sunrise/result/loanstatus.jsp";
      var itemIdentifier = "524217";
      var hitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var loanstateDBId = "2";
      var hitlistPosition = "11";
      var duplicateHitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var itemType = "BestOf";
      var titleStatus = "on loan";
      var typeofHit = "TouchPointResult";
      var context = "";
      var currentUrl = ajaxUrl + "?loanstateDBId="+loanstateDBId+"&itemIdentifier="+itemIdentifier+"&hitlistIdentifier="+hitlistIdentifier+"&hitlistPosition="+hitlistPosition+"&duplicateHitlistIdentifier="+duplicateHitlistIdentifier+"&itemType="+itemType+"&titleStatus="+titleStatus+"&typeOfHit="+typeofHit+"&context="+context;
      if (itemIdentifier.length > 0)
      {
        //$.get("sunrise/result/loanstatus.jsp", {itemIdentifier: itemIdentifier, dbIdentifier : dbIdentifier , hitlistPosition : hitlistPosition, itemType : itemType }, 
        $.ajaxq("loanstatus",{
          type: "GET",
          url: currentUrl,
          cache: false,
          dataType: "text",
          success: function(data)
        {
          var ref = data;
          ref = ref.replace(/\r\n/g,'');
          ref = ref.replace(/\n/g,'');
          if (ref.length > 0)
            $("div#loanstatus_2_11").replaceWith(ref);
          return false;
        }
        });
      }
    });
    //-->
    </script>
  
  






<!--END of /sunrise/result/loanstatus.jsp-->




     
  


  </td>
</tr>



<!--END of /sunrise/result/simplehit.jsp-->




      
      
      
         
      
        











<!--START of /sunrise/result/simplehit.jsp-->



<tr>
  
    <td>
      <input type="checkbox" name="isMarked" value="2_12" />
    </td>
  
  <td class="tdloanstatus">
    <a name="2_12"></a>  12.
  </td>
    
  <td class="results">
  
  <div id="pictures12" class="cover">
    







  
  
  
    
    
    
    
  
    
  <script type="text/javascript">
  <!--
  var isbn = "9783937880822";
  var ajaxUrl="/TouchPoint/default/result/amazoncover.jsp";
  var type="small";
  
  if (isbn.length > 0)
  {
    $.get(ajaxUrl, { isbn: isbn, asin: "", size: type}, 
    function(data)
    {
      var ref = data;
      ref = ref.replace(/\r\n/g,'');
      ref = ref.replace(/^\s+|\s+$/g, '');
      if (ref.length > 0)
      $("div#12").html('<img src="' + ref + '"></img><br>');
    });
  }
  //-->
  </script>

  <div id="12" />
  &nbsp;
  </div>
  



  </div>
  
  
  <div class="title">
  <a href="/TouchPoint/singleHit.do?methodToCall=showHit&amp;curPos=12&amp;identifier=2_SOLR_SERVER_1373153954">Medikamente bei Krebs</a>
  </div>
  
  
  
  
    Bopp, Annette
    
    
    .&nbsp;-&nbsp;2008
    
    
    <br />
  
  
  
  
    <strong class="c1">Regalstandort: </strong>
    
    O 310 Bop
    
    
  

  
  
  
      
  
  
    <br/>
    <div class="type">
      <img class="icn" src="default/images/mtyp/0.gif" alt="" width="16" height="16" />
      Buch
    </div>
  
      
  
  

  
  
      
      
      
      


      
      
      


  
  
     
       











<!--START of /sunrise/result/loanstatus.jsp-->



 


  
  
    
    
  
  
    
  
  
  
  
    
  
  
    
      
    
    <div id="loanstatus_2_12"></div>
    
    <script type="text/javascript">
    <!--
    $(document).ready(function() {
      var ajaxUrl="sunrise/result/loanstatus.jsp";
      var itemIdentifier = "472214";
      var hitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var loanstateDBId = "2";
      var hitlistPosition = "12";
      var duplicateHitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var itemType = "BestOf";
      var titleStatus = "on loan";
      var typeofHit = "TouchPointResult";
      var context = "";
      var currentUrl = ajaxUrl + "?loanstateDBId="+loanstateDBId+"&itemIdentifier="+itemIdentifier+"&hitlistIdentifier="+hitlistIdentifier+"&hitlistPosition="+hitlistPosition+"&duplicateHitlistIdentifier="+duplicateHitlistIdentifier+"&itemType="+itemType+"&titleStatus="+titleStatus+"&typeOfHit="+typeofHit+"&context="+context;
      if (itemIdentifier.length > 0)
      {
        //$.get("sunrise/result/loanstatus.jsp", {itemIdentifier: itemIdentifier, dbIdentifier : dbIdentifier , hitlistPosition : hitlistPosition, itemType : itemType }, 
        $.ajaxq("loanstatus",{
          type: "GET",
          url: currentUrl,
          cache: false,
          dataType: "text",
          success: function(data)
        {
          var ref = data;
          ref = ref.replace(/\r\n/g,'');
          ref = ref.replace(/\n/g,'');
          if (ref.length > 0)
            $("div#loanstatus_2_12").replaceWith(ref);
          return false;
        }
        });
      }
    });
    //-->
    </script>
  
  






<!--END of /sunrise/result/loanstatus.jsp-->




     
  


  </td>
</tr>



<!--END of /sunrise/result/simplehit.jsp-->




      
      
      
         
      
        











<!--START of /sunrise/result/simplehit.jsp-->



<tr>
  
    <td>
      <input type="checkbox" name="isMarked" value="2_13" />
    </td>
  
  <td class="tdloanstatus">
    <a name="2_13"></a>  13.
  </td>
    
  <td class="results">
  
  <div id="pictures13" class="cover">
    







  
  
  
    
    
    
    
  
    
  <script type="text/javascript">
  <!--
  var isbn = "9783191029289";
  var ajaxUrl="/TouchPoint/default/result/amazoncover.jsp";
  var type="small";
  
  if (isbn.length > 0)
  {
    $.get(ajaxUrl, { isbn: isbn, asin: "", size: type}, 
    function(data)
    {
      var ref = data;
      ref = ref.replace(/\r\n/g,'');
      ref = ref.replace(/^\s+|\s+$/g, '');
      if (ref.length > 0)
      $("div#13").html('<img src="' + ref + '"></img><br>');
    });
  }
  //-->
  </script>

  <div id="13" />
  &nbsp;
  </div>
  



  </div>
  
  
  <div class="title">
  <a href="/TouchPoint/singleHit.do?methodToCall=showHit&amp;curPos=13&amp;identifier=2_SOLR_SERVER_1373153954">Laser intermediate test book</a>
  </div>
  
  
  
  
    Primalis, Dimitris
    
    
    .&nbsp;-&nbsp;2007
    
    
    <br />
  
  
  
  
    <strong class="c1">Regalstandort: </strong>
    
    210 I 211 Pri
    
    
  

  
  
  
      
  
  
    <br/>
    <div class="type">
      <img class="icn" src="default/images/mtyp/0.gif" alt="" width="16" height="16" />
      Buch
    </div>
  
      
  
  

  
  
      
      
      
      


      
      
      


  
  
     
       











<!--START of /sunrise/result/loanstatus.jsp-->



 


  
  
    
    
  
  
    
  
  
  
  
    
  
  
    
      
    
    <div id="loanstatus_2_13"></div>
    
    <script type="text/javascript">
    <!--
    $(document).ready(function() {
      var ajaxUrl="sunrise/result/loanstatus.jsp";
      var itemIdentifier = "466327";
      var hitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var loanstateDBId = "2";
      var hitlistPosition = "13";
      var duplicateHitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var itemType = "BestOf";
      var titleStatus = "on loan";
      var typeofHit = "TouchPointResult";
      var context = "";
      var currentUrl = ajaxUrl + "?loanstateDBId="+loanstateDBId+"&itemIdentifier="+itemIdentifier+"&hitlistIdentifier="+hitlistIdentifier+"&hitlistPosition="+hitlistPosition+"&duplicateHitlistIdentifier="+duplicateHitlistIdentifier+"&itemType="+itemType+"&titleStatus="+titleStatus+"&typeOfHit="+typeofHit+"&context="+context;
      if (itemIdentifier.length > 0)
      {
        //$.get("sunrise/result/loanstatus.jsp", {itemIdentifier: itemIdentifier, dbIdentifier : dbIdentifier , hitlistPosition : hitlistPosition, itemType : itemType }, 
        $.ajaxq("loanstatus",{
          type: "GET",
          url: currentUrl,
          cache: false,
          dataType: "text",
          success: function(data)
        {
          var ref = data;
          ref = ref.replace(/\r\n/g,'');
          ref = ref.replace(/\n/g,'');
          if (ref.length > 0)
            $("div#loanstatus_2_13").replaceWith(ref);
          return false;
        }
        });
      }
    });
    //-->
    </script>
  
  






<!--END of /sunrise/result/loanstatus.jsp-->




     
  


  </td>
</tr>



<!--END of /sunrise/result/simplehit.jsp-->




      
      
      
         
      
        











<!--START of /sunrise/result/simplehit.jsp-->



<tr>
  
    <td>
      <input type="checkbox" name="isMarked" value="2_14" />
    </td>
  
  <td class="tdloanstatus">
    <a name="2_14"></a>  14.
  </td>
    
  <td class="results">
  
  <div id="pictures14" class="cover">
    







  
  
  
    
    
    
    
  
    
  <script type="text/javascript">
  <!--
  var isbn = "9783190329281";
  var ajaxUrl="/TouchPoint/default/result/amazoncover.jsp";
  var type="small";
  
  if (isbn.length > 0)
  {
    $.get(ajaxUrl, { isbn: isbn, asin: "", size: type}, 
    function(data)
    {
      var ref = data;
      ref = ref.replace(/\r\n/g,'');
      ref = ref.replace(/^\s+|\s+$/g, '');
      if (ref.length > 0)
      $("div#14").html('<img src="' + ref + '"></img><br>');
    });
  }
  //-->
  </script>

  <div id="14" />
  &nbsp;
  </div>
  



  </div>
  
  
  <div class="title">
  <a href="/TouchPoint/singleHit.do?methodToCall=showHit&amp;curPos=14&amp;identifier=2_SOLR_SERVER_1373153954">Laser FCE
    
    
    
      &nbsp;/&nbsp;2
    
  
    
      &nbsp;/&nbsp;Test book</a>
  </div>
  
  
  
  
    Mann, Malcom
    
    
    .&nbsp;-&nbsp;2004
    
    
    <br />
  
  
  
  
    <strong class="c1">Regalstandort: </strong>
    
    210 I 211 Las
    
    
  

  
  
  
      
  
  
    <br/>
    <div class="type">
      <img class="icn" src="default/images/mtyp/15.gif" alt="" width="16" height="16" />
      Medienkombinationen
    </div>
  
      
  
  

  
  
      
      
      
      


      
      
      


  
  
     
       











<!--START of /sunrise/result/loanstatus.jsp-->



 


  
  
    
    
  
  
    
  
  
  
  
    
  
  
    
      
    
    <div id="loanstatus_2_14"></div>
    
    <script type="text/javascript">
    <!--
    $(document).ready(function() {
      var ajaxUrl="sunrise/result/loanstatus.jsp";
      var itemIdentifier = "437695";
      var hitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var loanstateDBId = "2";
      var hitlistPosition = "14";
      var duplicateHitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var itemType = "BestOf";
      var titleStatus = "on loan";
      var typeofHit = "TouchPointResult";
      var context = "";
      var currentUrl = ajaxUrl + "?loanstateDBId="+loanstateDBId+"&itemIdentifier="+itemIdentifier+"&hitlistIdentifier="+hitlistIdentifier+"&hitlistPosition="+hitlistPosition+"&duplicateHitlistIdentifier="+duplicateHitlistIdentifier+"&itemType="+itemType+"&titleStatus="+titleStatus+"&typeOfHit="+typeofHit+"&context="+context;
      if (itemIdentifier.length > 0)
      {
        //$.get("sunrise/result/loanstatus.jsp", {itemIdentifier: itemIdentifier, dbIdentifier : dbIdentifier , hitlistPosition : hitlistPosition, itemType : itemType }, 
        $.ajaxq("loanstatus",{
          type: "GET",
          url: currentUrl,
          cache: false,
          dataType: "text",
          success: function(data)
        {
          var ref = data;
          ref = ref.replace(/\r\n/g,'');
          ref = ref.replace(/\n/g,'');
          if (ref.length > 0)
            $("div#loanstatus_2_14").replaceWith(ref);
          return false;
        }
        });
      }
    });
    //-->
    </script>
  
  






<!--END of /sunrise/result/loanstatus.jsp-->




     
  


  </td>
</tr>



<!--END of /sunrise/result/simplehit.jsp-->




      
      
      
         
      
        











<!--START of /sunrise/result/simplehit.jsp-->



<tr>
  
    <td>
      <input type="checkbox" name="isMarked" value="2_15" />
    </td>
  
  <td class="tdloanstatus">
    <a name="2_15"></a>  15.
  </td>
    
  <td class="results">
  
  <div id="pictures15" class="cover">
    







  
  
  
    
    
    
    
  
    
  <script type="text/javascript">
  <!--
  var isbn = "3801709205";
  var ajaxUrl="/TouchPoint/default/result/amazoncover.jsp";
  var type="small";
  
  if (isbn.length > 0)
  {
    $.get(ajaxUrl, { isbn: isbn, asin: "", size: type}, 
    function(data)
    {
      var ref = data;
      ref = ref.replace(/\r\n/g,'');
      ref = ref.replace(/^\s+|\s+$/g, '');
      if (ref.length > 0)
      $("div#15").html('<img src="' + ref + '"></img><br>');
    });
  }
  //-->
  </script>

  <div id="15" />
  &nbsp;
  </div>
  



  </div>
  
  
  <div class="title">
  <a href="/TouchPoint/singleHit.do?methodToCall=showHit&amp;curPos=15&amp;identifier=2_SOLR_SERVER_1373153954">Test für medizinische Studiengänge</a>
  </div>
  
  
  
  
    Institut für Test- und Begabungsforschung (Bonn)
    
    
    .&nbsp;-&nbsp;1995
    
    
    <br />
  
  
  
  
    <strong class="c1">Regalstandort: </strong>
    
    O 001 Tes
    
    
  

  
  
  
      
  
  
    <br/>
    <div class="type">
      <img class="icn" src="default/images/mtyp/0.gif" alt="" width="16" height="16" />
      Buch
    </div>
  
      
  
  

  
  
      
      
      
      


      
      
      


  
  
     
       











<!--START of /sunrise/result/loanstatus.jsp-->



 


  
  
    
    
  
  
    
  
  
  
  
    
  
  
    
      
    
    <div id="loanstatus_2_15"></div>
    
    <script type="text/javascript">
    <!--
    $(document).ready(function() {
      var ajaxUrl="sunrise/result/loanstatus.jsp";
      var itemIdentifier = "382066";
      var hitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var loanstateDBId = "2";
      var hitlistPosition = "15";
      var duplicateHitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var itemType = "BestOf";
      var titleStatus = "on loan";
      var typeofHit = "TouchPointResult";
      var context = "";
      var currentUrl = ajaxUrl + "?loanstateDBId="+loanstateDBId+"&itemIdentifier="+itemIdentifier+"&hitlistIdentifier="+hitlistIdentifier+"&hitlistPosition="+hitlistPosition+"&duplicateHitlistIdentifier="+duplicateHitlistIdentifier+"&itemType="+itemType+"&titleStatus="+titleStatus+"&typeOfHit="+typeofHit+"&context="+context;
      if (itemIdentifier.length > 0)
      {
        //$.get("sunrise/result/loanstatus.jsp", {itemIdentifier: itemIdentifier, dbIdentifier : dbIdentifier , hitlistPosition : hitlistPosition, itemType : itemType }, 
        $.ajaxq("loanstatus",{
          type: "GET",
          url: currentUrl,
          cache: false,
          dataType: "text",
          success: function(data)
        {
          var ref = data;
          ref = ref.replace(/\r\n/g,'');
          ref = ref.replace(/\n/g,'');
          if (ref.length > 0)
            $("div#loanstatus_2_15").replaceWith(ref);
          return false;
        }
        });
      }
    });
    //-->
    </script>
  
  






<!--END of /sunrise/result/loanstatus.jsp-->




     
  


  </td>
</tr>



<!--END of /sunrise/result/simplehit.jsp-->




      
      
      
         
      
        











<!--START of /sunrise/result/simplehit.jsp-->



<tr>
  
    <td>
      <input type="checkbox" name="isMarked" value="2_16" />
    </td>
  
  <td class="tdloanstatus">
    <a name="2_16"></a>  16.
  </td>
    
  <td class="results">
  
  <div id="pictures16" class="cover">
    







  
  
  
    
  <script type="text/javascript">
  <!--
  var isbn = "";
  var ajaxUrl="";
  var type="";
  
  if (isbn.length > 0)
  {
    $.get(ajaxUrl, { isbn: isbn, asin: "", size: type}, 
    function(data)
    {
      var ref = data;
      ref = ref.replace(/\r\n/g,'');
      ref = ref.replace(/^\s+|\s+$/g, '');
      if (ref.length > 0)
      $("div#16").html('<img src="' + ref + '"></img><br>');
    });
  }
  //-->
  </script>

  <div id="16" />
  &nbsp;
  </div>
  



  </div>
  
  
  <div class="title">
  <a href="/TouchPoint/singleHit.do?methodToCall=showHit&amp;curPos=16&amp;identifier=2_SOLR_SERVER_1373153954">swb-test</a>
  </div>
  
  
  
  
  
  
  
  

  
  
  
      
  
  
    <br/>
    <div class="type">
      <img class="icn" src="default/images/buch01.gif" alt="" width="16" height="16" />
      Buch
    </div>
  
      
  
  

  
  
      
      
      
      


      
      
      


  
  
     
       











<!--START of /sunrise/result/loanstatus.jsp-->



 


  
  
    
    
  
  
    
  
  
  
  
    
  
  
    
      
    
    <div id="loanstatus_2_16"></div>
    
    <script type="text/javascript">
    <!--
    $(document).ready(function() {
      var ajaxUrl="sunrise/result/loanstatus.jsp";
      var itemIdentifier = "552654";
      var hitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var loanstateDBId = "2";
      var hitlistPosition = "16";
      var duplicateHitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var itemType = "BestOf";
      var titleStatus = "on loan";
      var typeofHit = "TouchPointResult";
      var context = "";
      var currentUrl = ajaxUrl + "?loanstateDBId="+loanstateDBId+"&itemIdentifier="+itemIdentifier+"&hitlistIdentifier="+hitlistIdentifier+"&hitlistPosition="+hitlistPosition+"&duplicateHitlistIdentifier="+duplicateHitlistIdentifier+"&itemType="+itemType+"&titleStatus="+titleStatus+"&typeOfHit="+typeofHit+"&context="+context;
      if (itemIdentifier.length > 0)
      {
        //$.get("sunrise/result/loanstatus.jsp", {itemIdentifier: itemIdentifier, dbIdentifier : dbIdentifier , hitlistPosition : hitlistPosition, itemType : itemType }, 
        $.ajaxq("loanstatus",{
          type: "GET",
          url: currentUrl,
          cache: false,
          dataType: "text",
          success: function(data)
        {
          var ref = data;
          ref = ref.replace(/\r\n/g,'');
          ref = ref.replace(/\n/g,'');
          if (ref.length > 0)
            $("div#loanstatus_2_16").replaceWith(ref);
          return false;
        }
        });
      }
    });
    //-->
    </script>
  
  






<!--END of /sunrise/result/loanstatus.jsp-->




     
  


  </td>
</tr>



<!--END of /sunrise/result/simplehit.jsp-->




      
      
      
         
      
        











<!--START of /sunrise/result/simplehit.jsp-->



<tr>
  
    <td>
      <input type="checkbox" name="isMarked" value="2_17" />
    </td>
  
  <td class="tdloanstatus">
    <a name="2_17"></a>  17.
  </td>
    
  <td class="results">
  
  <div id="pictures17" class="cover">
    







  
  
  
    
  <script type="text/javascript">
  <!--
  var isbn = "";
  var ajaxUrl="";
  var type="";
  
  if (isbn.length > 0)
  {
    $.get(ajaxUrl, { isbn: isbn, asin: "", size: type}, 
    function(data)
    {
      var ref = data;
      ref = ref.replace(/\r\n/g,'');
      ref = ref.replace(/^\s+|\s+$/g, '');
      if (ref.length > 0)
      $("div#17").html('<img src="' + ref + '"></img><br>');
    });
  }
  //-->
  </script>

  <div id="17" />
  &nbsp;
  </div>
  



  </div>
  
  
  <div class="title">
  <a href="/TouchPoint/singleHit.do?methodToCall=showHit&amp;curPos=17&amp;identifier=2_SOLR_SERVER_1373153954">Test für medizinische Studiengänge</a>
  </div>
  
  
  
  
    ITB Consulting GmbH (Bonn)
    
    
    
    <br />
  
  
  
  
  

  
  
  
      
  
  
    <br/>
    <div class="type">
      <img class="icn" src="default/images/buch02.gif" alt="" width="16" height="16" />
      Übergeordneter Titel, siehe auch Einzelbände
    </div>
  
      
  
  

  
  
      
      
      
      


      
      
      


  
  
     
       











<!--START of /sunrise/result/loanstatus.jsp-->



 


  
  
    
    
  
  
    
  
  
  
  
    
  
  
    
      
    
    <div id="loanstatus_2_17"></div>
    
    <script type="text/javascript">
    <!--
    $(document).ready(function() {
      var ajaxUrl="sunrise/result/loanstatus.jsp";
      var itemIdentifier = "542028";
      var hitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var loanstateDBId = "2";
      var hitlistPosition = "17";
      var duplicateHitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var itemType = "BestOf";
      var titleStatus = "on loan";
      var typeofHit = "TouchPointResult";
      var context = "";
      var currentUrl = ajaxUrl + "?loanstateDBId="+loanstateDBId+"&itemIdentifier="+itemIdentifier+"&hitlistIdentifier="+hitlistIdentifier+"&hitlistPosition="+hitlistPosition+"&duplicateHitlistIdentifier="+duplicateHitlistIdentifier+"&itemType="+itemType+"&titleStatus="+titleStatus+"&typeOfHit="+typeofHit+"&context="+context;
      if (itemIdentifier.length > 0)
      {
        //$.get("sunrise/result/loanstatus.jsp", {itemIdentifier: itemIdentifier, dbIdentifier : dbIdentifier , hitlistPosition : hitlistPosition, itemType : itemType }, 
        $.ajaxq("loanstatus",{
          type: "GET",
          url: currentUrl,
          cache: false,
          dataType: "text",
          success: function(data)
        {
          var ref = data;
          ref = ref.replace(/\r\n/g,'');
          ref = ref.replace(/\n/g,'');
          if (ref.length > 0)
            $("div#loanstatus_2_17").replaceWith(ref);
          return false;
        }
        });
      }
    });
    //-->
    </script>
  
  






<!--END of /sunrise/result/loanstatus.jsp-->




     
  


  </td>
</tr>



<!--END of /sunrise/result/simplehit.jsp-->




      
      
      
         
      
        











<!--START of /sunrise/result/simplehit.jsp-->



<tr>
  
    <td>
      <input type="checkbox" name="isMarked" value="2_18" />
    </td>
  
  <td class="tdloanstatus">
    <a name="2_18"></a>  18.
  </td>
    
  <td class="results">
  
  <div id="pictures18" class="cover">
    







  
  
  
    
  <script type="text/javascript">
  <!--
  var isbn = "";
  var ajaxUrl="";
  var type="";
  
  if (isbn.length > 0)
  {
    $.get(ajaxUrl, { isbn: isbn, asin: "", size: type}, 
    function(data)
    {
      var ref = data;
      ref = ref.replace(/\r\n/g,'');
      ref = ref.replace(/^\s+|\s+$/g, '');
      if (ref.length > 0)
      $("div#18").html('<img src="' + ref + '"></img><br>');
    });
  }
  //-->
  </script>

  <div id="18" />
  &nbsp;
  </div>
  



  </div>
  
  
  <div class="title">
  <a href="/TouchPoint/singleHit.do?methodToCall=showHit&amp;curPos=18&amp;identifier=2_SOLR_SERVER_1373153954">Test :  Stiftung Warentest
    
    
    
  
    
      &nbsp;/&nbsp;Stiftung Warentest</a>
  </div>
  
  
  
  
    Stiftung Warentest (Berlin)
    
    
    
    <br />
  
  
  
  
    <strong class="c1">Regalstandort: </strong>
    
    Lesecafe
    
    
  

  
  
  
      
  
  
    <br/>
    <div class="type">
      <img class="icn" src="default/images/mtyp/14.gif" alt="" width="16" height="16" />
      Zeitung/Zeitschrift
    </div>
  
      
  
  

  
  
      
      
      
      


      
      
      


  
  
     
       











<!--START of /sunrise/result/loanstatus.jsp-->



 


  
  
    
    
  
  
    
  
  
  
  
    
  
  
    
      
    
    <div id="loanstatus_2_18"></div>
    
    <script type="text/javascript">
    <!--
    $(document).ready(function() {
      var ajaxUrl="sunrise/result/loanstatus.jsp";
      var itemIdentifier = "39260";
      var hitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var loanstateDBId = "2";
      var hitlistPosition = "18";
      var duplicateHitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var itemType = "BestOf";
      var titleStatus = "on loan";
      var typeofHit = "TouchPointResult";
      var context = "";
      var currentUrl = ajaxUrl + "?loanstateDBId="+loanstateDBId+"&itemIdentifier="+itemIdentifier+"&hitlistIdentifier="+hitlistIdentifier+"&hitlistPosition="+hitlistPosition+"&duplicateHitlistIdentifier="+duplicateHitlistIdentifier+"&itemType="+itemType+"&titleStatus="+titleStatus+"&typeOfHit="+typeofHit+"&context="+context;
      if (itemIdentifier.length > 0)
      {
        //$.get("sunrise/result/loanstatus.jsp", {itemIdentifier: itemIdentifier, dbIdentifier : dbIdentifier , hitlistPosition : hitlistPosition, itemType : itemType }, 
        $.ajaxq("loanstatus",{
          type: "GET",
          url: currentUrl,
          cache: false,
          dataType: "text",
          success: function(data)
        {
          var ref = data;
          ref = ref.replace(/\r\n/g,'');
          ref = ref.replace(/\n/g,'');
          if (ref.length > 0)
            $("div#loanstatus_2_18").replaceWith(ref);
          return false;
        }
        });
      }
    });
    //-->
    </script>
  
  






<!--END of /sunrise/result/loanstatus.jsp-->




     
  


  </td>
</tr>



<!--END of /sunrise/result/simplehit.jsp-->




      
      
      
         
      
        











<!--START of /sunrise/result/simplehit.jsp-->



<tr>
  
    <td>
      <input type="checkbox" name="isMarked" value="2_19" />
    </td>
  
  <td class="tdloanstatus">
    <a name="2_19"></a>  19.
  </td>
    
  <td class="results">
  
  <div id="pictures19" class="cover">
    







  
  
  
    
    
    
    
  
    
  <script type="text/javascript">
  <!--
  var isbn = "9783868510379";
  var ajaxUrl="/TouchPoint/default/result/amazoncover.jsp";
  var type="small";
  
  if (isbn.length > 0)
  {
    $.get(ajaxUrl, { isbn: isbn, asin: "", size: type}, 
    function(data)
    {
      var ref = data;
      ref = ref.replace(/\r\n/g,'');
      ref = ref.replace(/^\s+|\s+$/g, '');
      if (ref.length > 0)
      $("div#19").html('<img src="' + ref + '"></img><br>');
    });
  }
  //-->
  </script>

  <div id="19" />
  &nbsp;
  </div>
  



  </div>
  
  
  <div class="title">
  <a href="/TouchPoint/singleHit.do?methodToCall=showHit&amp;curPos=19&amp;identifier=2_SOLR_SERVER_1373153954">Photovoltaik :  Solarstrom vom Dach
    
    
    
  
    
      &nbsp;/&nbsp;Solarstrom vom Dach</a>
  </div>
  
  
  
  
    Seltmann, Thomas
    
    
    .&nbsp;-&nbsp;2011
    
    
    <br />
  
  
  
  
    <strong class="c1">Regalstandort: </strong>
    
    6.2.2.1/ 70
    
    
  

  
  
  
      
  
  
    <br/>
    <div class="type">
      <img class="icn" src="default/images/buch01.gif" alt="" width="16" height="16" />
      Buch
    </div>
  
      
  
  

  
  
      
      
      
      
      
        
        
        
      


      
      
      


  
  
     
       











<!--START of /sunrise/result/loanstatus.jsp-->



 


  
  
    
    
  
  
    
  
  
  
  
    
  
  
    
      
    
    <div id="loanstatus_2_19"></div>
    
    <script type="text/javascript">
    <!--
    $(document).ready(function() {
      var ajaxUrl="sunrise/result/loanstatus.jsp";
      var itemIdentifier = "626061";
      var hitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var loanstateDBId = "2";
      var hitlistPosition = "19";
      var duplicateHitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var itemType = "BestOf";
      var titleStatus = "on loan";
      var typeofHit = "TouchPointResult";
      var context = "";
      var currentUrl = ajaxUrl + "?loanstateDBId="+loanstateDBId+"&itemIdentifier="+itemIdentifier+"&hitlistIdentifier="+hitlistIdentifier+"&hitlistPosition="+hitlistPosition+"&duplicateHitlistIdentifier="+duplicateHitlistIdentifier+"&itemType="+itemType+"&titleStatus="+titleStatus+"&typeOfHit="+typeofHit+"&context="+context;
      if (itemIdentifier.length > 0)
      {
        //$.get("sunrise/result/loanstatus.jsp", {itemIdentifier: itemIdentifier, dbIdentifier : dbIdentifier , hitlistPosition : hitlistPosition, itemType : itemType }, 
        $.ajaxq("loanstatus",{
          type: "GET",
          url: currentUrl,
          cache: false,
          dataType: "text",
          success: function(data)
        {
          var ref = data;
          ref = ref.replace(/\r\n/g,'');
          ref = ref.replace(/\n/g,'');
          if (ref.length > 0)
            $("div#loanstatus_2_19").replaceWith(ref);
          return false;
        }
        });
      }
    });
    //-->
    </script>
  
  






<!--END of /sunrise/result/loanstatus.jsp-->




     
  


  </td>
</tr>



<!--END of /sunrise/result/simplehit.jsp-->




      
      
      
         
      
        











<!--START of /sunrise/result/simplehit.jsp-->



<tr>
  
    <td>
      <input type="checkbox" name="isMarked" value="2_20" />
    </td>
  
  <td class="tdloanstatus">
    <a name="2_20"></a>  20.
  </td>
    
  <td class="results">
  
  <div id="pictures20" class="cover">
    







  
  
  
    
    
    
    
  
    
  <script type="text/javascript">
  <!--
  var isbn = "3931908224";
  var ajaxUrl="/TouchPoint/default/result/amazoncover.jsp";
  var type="small";
  
  if (isbn.length > 0)
  {
    $.get(ajaxUrl, { isbn: isbn, asin: "", size: type}, 
    function(data)
    {
      var ref = data;
      ref = ref.replace(/\r\n/g,'');
      ref = ref.replace(/^\s+|\s+$/g, '');
      if (ref.length > 0)
      $("div#20").html('<img src="' + ref + '"></img><br>');
    });
  }
  //-->
  </script>

  <div id="20" />
  &nbsp;
  </div>
  



  </div>
  
  
  <div class="title">
  <a href="/TouchPoint/singleHit.do?methodToCall=showHit&amp;curPos=20&amp;identifier=2_SOLR_SERVER_1373153954">Test :  Jahrbuch für ...
    
    
    
      &nbsp;/&nbsp;1998
    
  
    
      &nbsp;/&nbsp;Jahrbuch für ...</a>
  </div>
  
  
  
  
  
  
  
    <strong class="c1">Regalstandort: </strong>
    
    1B 30885 1998
    
    
  

  
  
  
      
  
  
    <br/>
    <div class="type">
      <img class="icn" src="default/images/mtyp/0.gif" alt="" width="16" height="16" />
      Buch
    </div>
  
      
  
  

  
  
      
      
      
      


      
      
      


  
  
     
       











<!--START of /sunrise/result/loanstatus.jsp-->



 


  
  
    
    
  
  
    
  
  
  
  
    
  
  
    
      
    
    <div id="loanstatus_2_20"></div>
    
    <script type="text/javascript">
    <!--
    $(document).ready(function() {
      var ajaxUrl="sunrise/result/loanstatus.jsp";
      var itemIdentifier = "224674";
      var hitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var loanstateDBId = "2";
      var hitlistPosition = "20";
      var duplicateHitlistIdentifier = "2_SOLR_SERVER_1373153954";
      var itemType = "BestOf";
      var titleStatus = "on loan";
      var typeofHit = "TouchPointResult";
      var context = "";
      var currentUrl = ajaxUrl + "?loanstateDBId="+loanstateDBId+"&itemIdentifier="+itemIdentifier+"&hitlistIdentifier="+hitlistIdentifier+"&hitlistPosition="+hitlistPosition+"&duplicateHitlistIdentifier="+duplicateHitlistIdentifier+"&itemType="+itemType+"&titleStatus="+titleStatus+"&typeOfHit="+typeofHit+"&context="+context;
      if (itemIdentifier.length > 0)
      {
        //$.get("sunrise/result/loanstatus.jsp", {itemIdentifier: itemIdentifier, dbIdentifier : dbIdentifier , hitlistPosition : hitlistPosition, itemType : itemType }, 
        $.ajaxq("loanstatus",{
          type: "GET",
          url: currentUrl,
          cache: false,
          dataType: "text",
          success: function(data)
        {
          var ref = data;
          ref = ref.replace(/\r\n/g,'');
          ref = ref.replace(/\n/g,'');
          if (ref.length > 0)
            $("div#loanstatus_2_20").replaceWith(ref);
          return false;
        }
        });
      }
    });
    //-->
    </script>
  
  






<!--END of /sunrise/result/loanstatus.jsp-->




     
  


  </td>
</tr>



<!--END of /sunrise/result/simplehit.jsp-->




      
      
      
      
    </table>
    
      <div class="box-header">
        <div class="pagination">
            
              <span class="selectedlink">&#171;</span>
<a href="javascript:move(2,1)" onclick="return markedTitles(this);"> 1</a>
<span class="selectedlink">2</span>
<a href="javascript:move(2,21)" onclick="return markedTitles(this);"> 3</a>
<a href="javascript:move(2,31)" onclick="return markedTitles(this);"> 4</a>
<a href="javascript:move(2,41)" onclick="return markedTitles(this);"> 5</a>
<a href="javascript:move(2,51)" onclick="return markedTitles(this);"> 6</a>
<a href="javascript:move(2,61)" onclick="return markedTitles(this);"> 7</a>
<a href="javascript:move(2,71)" onclick="return markedTitles(this);"> 8</a>
<a href="javascript:move(2,81)" onclick="return markedTitles(this);"> 9</a>
<a href="javascript:move(2,91)" onclick="return markedTitles(this);">&#187;</a>

            
            
          </div>
      </div><!-- END box-header -->
    
  </div><!-- END div box -->
  <br/>
</body>

</div>

<script type="text/javascript">
  enableAjaxMenuFunctions("2");
</script>




<!--END of /default/result/speedentry.jsp-->



